/* Media Queries*/
@media (max-width: 1500px) {
  html {
    font-size: 50%; } }

header {
  height: 90vh;
  background: linear-gradient(0deg, rgba(112, 18, 68, 0.5), rgba(112, 18, 68, 0.5)), url("/images/Mask Group 1.jpg");
  background-repeat: no-repeat;
  background-size: cover; }

.header-section {
  height: 100%;
  display: flex;
  align-items: center; }

.header-text-wrap {
  color: #fff;
  width: 40vw; }
  .header-text-wrap h1 {
    font-size: 4rem;
    letter-spacing: 1.4rem; }
  .header-text-wrap h2 {
    letter-spacing: .7rem; }
  .header-text-wrap p {
    margin-top: 1rem;
    line-height: 1.7rem;
    margin-bottom: 2rem; }
  .header-text-wrap .read-more {
    border: 1px solid #fff;
    padding: 1rem 2rem;
    color: #fff; }

.title-header {
  text-align: center;
  color: #89285b;
  font-weight: 300;
  font-style: italic;
  font-size: 3rem; }

.tulsa-artwork {
  width: 35rem;
  display: block;
  margin: auto; }

.section-about-text {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem; }
  .section-about-text p {
    line-height: 2.2rem;
    letter-spacing: .23rem; }
  .section-about-text .section-btn {
    border: 1px solid #89285b;
    padding: 1rem 2rem;
    align-self: flex-start;
    color: #89285b;
    text-decoration: none;
    margin-top: 1rem; }

.brand-section {
  background-color: #d6d6d6; }
  .brand-section .brand-logo {
    width: 14rem;
    display: block;
    margin: auto; }

.mt-30 {
  margin-top: 3rem; }

.testimonial-section {
  display: grid;
  position: relative;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 40rem;
  margin-bottom: 12rem; }
  .testimonial-section .testimonial-image1 {
    background-image: url("/images/boy-cap-carrying-1456951.jpg");
    background-size: cover;
    background-repeat: no-repeat; }
  .testimonial-section .testimonial-image2 {
    background-image: url("/images/adult-child-facial-expression-834508.jpg");
    background-size: cover;
    background-repeat: no-repeat; }
  .testimonial-section .testimonial-image3 {
    background-image: url("/images/adorable-child-cute-1128317.jpg");
    background-size: cover;
    background-repeat: no-repeat; }
  .testimonial-section .testimonial-box {
    width: 50vw;
    height: 20rem;
    background-color: #fff;
    position: absolute;
    left: 25%;
    bottom: -10rem;
    padding: 1rem;
    -webkit-box-shadow: 10px 28px 39px -1px rgba(71, 71, 71, 0.39);
    -moz-box-shadow: 10px 28px 39px -1px rgba(71, 71, 71, 0.39);
    box-shadow: 10px 28px 39px -1px rgba(71, 71, 71, 0.39);
    text-align: center; }
    .testimonial-section .testimonial-box__heading {
      font-size: 2rem;
      font-weight: 300;
      background-color: green;
      height: 100%; }
    .testimonial-section .testimonial-box .testimonial-box-border {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      border: 0.01rem solid #89285b; }
      .testimonial-section .testimonial-box .testimonial-box-border .blockquote-text {
        font-size: 1.4rem; }
    .testimonial-section .testimonial-box .clients-info {
      display: flex;
      flex-direction: column; }
      .testimonial-section .testimonial-box .clients-info__name {
        font-weight: 700; }
      .testimonial-section .testimonial-box .clients-info__designation {
        font-style: italic; }
    .testimonial-section .testimonial-box .slider-content-slide__inner__content {
      padding: 4rem;
      z-index: 2; }
      .testimonial-section .testimonial-box .slider-content-slide__inner__content blockquote:before {
        /* For the qotation mark*/
        content: "\201C";
        /* Quotation code */
        font-size: 15rem;
        color: rgba(184, 64, 128, 0.598);
        display: block;
        z-index: 1;
        position: absolute;
        top: -2rem;
        left: 10rem; }

/*---- Blog section----*/
.container-box {
  border: 1px solid #fff;
  background-color: #fff; }
  .container-box .dream-house-img-container {
    margin-left: 1rem;
    width: 92%;
    height: auto;
    position: absolute;
    transform: translate(0%, -1rem);
    box-shadow: -13px 18px 9px -2px rgba(0, 0, 0, 0.17); }
    .container-box .dream-house-img-container .dream-house-img {
      width: 100%;
      height: 90%; }
  .container-box .blog-content-container {
    margin-top: 16rem;
    padding: 1rem; }
    .container-box .blog-content-container .blog-title {
      margin-bottom: 1.2rem;
      font-weight: 800;
      font-style: bold;
      font-size: 1rem;
      color: #3D1212;
      letter-spacing: 2.5px;
      text-transform: capitalize; }
    .container-box .blog-content-container .blog-para {
      letter-spacing: 2px;
      line-height: 1.7rem; }
    .container-box .blog-content-container .blog-read-more {
      display: block;
      text-decoration: none;
      margin-bottom: 1.2rem;
      font-weight: 600;
      font-size: 1rem;
      color: #000;
      letter-spacing: 2px;
      text-transform: uppercase; }

/* ---- subscribe-section ----*/
.subscribe-section {
  background-color: #89285b;
  text-align: center; }
  .subscribe-section .subscribe-heading {
    color: #fff;
    font-weight: 200;
    font-size: 1 rem; }

/*---- contact-section ----*/
.contact-section {
  margin: 5rem; }
  .contact-section .contact-box {
    text-align: center;
    border-right: 2px solid #e7e1e1; }
    .contact-section .contact-box .contact-box-header {
      margin: 1rem;
      font-weight: 300;
      font-size: 1.5rem; }
    .contact-section .contact-box .contact-box-content {
      color: #89285b;
      font-weight: 600;
      letter-spacing: 3px; }
  .contact-section .contact-box:last-child {
    border-right: none; }

.subscribe-form {
  display: flex;
  justify-content: center;
  margin-top: 2.2rem; }

.subscribe-input {
  padding: 1rem 2rem;
  width: 50%;
  border: 2px solid #eee;
  background-color: #89285b;
  color: #eee; }
  .subscribe-input:focus {
    outline: none; }
  .subscribe-input::placeholder {
    color: #eee;
    font-size: 1.2rem; }

.subscribe-btn {
  border: none;
  padding: 1rem 2rem;
  font-weight: 500;
  letter-spacing: 1px; }
  .subscribe-btn:active {
    background-color: #e1e1e1; }
  .subscribe-btn:focus {
    outline: none; }

.about-title-header {
  font-size: 2.5rem;
  color: #89285b;
  font-style: italic;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 3px; }

/*---- Header ----*/
.section-header {
  background-image: none;
  height: 65vh; }
  .section-header .header-textbox {
    display: inline-block;
    position: absolute;
    top: 7.6rem; }
    .section-header .header-textbox .about-us {
      color: #89285b;
      font-size: 4rem;
      letter-spacing: 4px;
      font-weight: 400;
      text-transform: uppercase; }
    .section-header .header-textbox .live-blessed {
      color: #89285b;
      letter-spacing: 2px;
      font-size: 2rem;
      font-weight: 400; }
  .section-header .header-background {
    margin-top: 8rem;
    background: linear-gradient(rgba(0, 0, 0, 0.075), rgba(0, 0, 0, 0.578)), url("/images/About hero.jpg");
    height: 60vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom; }

.section-about .tulsa-logo-container {
  display: block;
  text-align: center; }
  .section-about .tulsa-logo-container .tulsa-logo {
    width: 20rem; }

.section-about .about-content {
  margin: 3rem 0; }
  .section-about .about-content .about-header {
    font-size: 2.5rem;
    color: #89285b;
    font-style: italic;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 3px; }
  .section-about .about-content .about-paragraph {
    font-size: 1.5rem;
    color: #89285b;
    font-weight: 300;
    letter-spacing: 2px;
    margin-top: 3rem; }

.section-team {
  margin: 6rem 0; }
  .section-team .our-team-header {
    font-size: 2.5rem;
    color: #89285b;
    font-style: italic;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 3px; }

.core-member-section .member-section {
  display: grid;
  grid-template-rows: 30rem;
  grid-template-columns: repeat(2, 1fr); }
  .core-member-section .member-section .image-part {
    background-color: green; }
  .core-member-section .member-section .text-part {
    background-color: pink; }
    .core-member-section .member-section .text-part .text-part-container {
      padding-left: 2rem; }

.project-title-header {
  font-size: 2.5rem;
  color: #89285b;
  font-style: italic;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 3px;
  text-align: center;
  margin: 1rem 0; }

.project-header {
  background-image: none; }
  .project-header .header-textbox-1 {
    display: inline-block;
    position: absolute;
    top: 7.6rem;
    padding-left: 1rem;
    background-color: #F5F5F5; }
    .project-header .header-textbox-1 .tulsa {
      color: #89285b;
      font-size: 4rem;
      letter-spacing: 4px;
      font-weight: 400;
      text-transform: uppercase; }
    .project-header .header-textbox-1 .live-blessed {
      color: #89285b;
      letter-spacing: 2px;
      font-size: 2rem;
      font-weight: 400; }
  .project-header .header-background {
    margin-top: 8rem;
    width: 80%;
    float: right;
    background: linear-gradient(rgba(0, 0, 0, 0.592), rgba(0, 0, 0, 0.578)), url("/images/slide 2.jpg");
    height: 70vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    display: flex;
    align-items: center; }
    .project-header .header-background .explore-projects {
      position: absolute;
      color: #d6d6d6;
      left: 50%;
      transform: translate(-30%, -50%);
      font-size: 4rem;
      letter-spacing: 3px;
      font-weight: 100;
      text-transform: capitalize;
      font-style: italic;
      border-top: 1px solid #5a5656;
      border-bottom: 1px solid #5a5656; }

.section-projects {
  padding: 5rem 0;
  background-color: #fff; }
  .section-projects .project-row-box {
    margin: 3rem 0; }
  .section-projects .project-box {
    background-color: #fff;
    margin: 0 1rem;
    padding: 5px;
    box-shadow: -1px 2px 5px 0px rgba(0, 0, 0, 0.08); }
    .section-projects .project-box .project-img-container {
      display: block;
      width: 100%; }
      .section-projects .project-box .project-img-container .project-img {
        width: 100%; }
    .section-projects .project-box .project-content {
      padding: 1rem; }
      .section-projects .project-box .project-content .project-name-price {
        display: flex;
        padding: 1rem 0; }
        .section-projects .project-box .project-content .project-name-price .project-name-header {
          width: 70%;
          color: #89285b;
          font-size: 1.4rem;
          font-weight: 300; }
        .section-projects .project-box .project-content .project-name-price .project-price-header {
          width: 30%;
          float: right;
          color: green;
          font-size: 1.2rem;
          font-weight: 300; }
      .section-projects .project-box .project-content .project-type {
        color: #5a5656;
        padding: 5px 0;
        border-bottom: 1px solid #d6d6d6; }
        .section-projects .project-box .project-content .project-type .project-type-box {
          display: flex; }
          .section-projects .project-box .project-content .project-type .project-type-box .project-bhk-header {
            width: 70%;
            font-size: 1rem;
            font-weight: 300; }
          .section-projects .project-box .project-content .project-type .project-type-box .project-onwards-header {
            width: 30%;
            float: right;
            font-size: 1rem;
            font-weight: 300; }
        .section-projects .project-box .project-content .project-type .project-status {
          padding: 1rem 0; }
          .section-projects .project-box .project-content .project-type .project-status .project-status-header {
            font-size: 1rem;
            font-weight: 300; }
      .section-projects .project-box .project-content .project-location {
        padding-top: 1.2rem; }
        .section-projects .project-box .project-content .project-location .location-icon {
          width: 2rem; }

.contact-header {
  color: #89285b;
  font-size: 3rem;
  font-weight: 400;
  text-transform: capitalize;
  margin: 3rem 0;
  letter-spacing: 3px; }

.form-graphic {
  margin: 3rem 0; }
  .form-graphic .colom-1 *:focus {
    outline: none;
    /* To erase the blue border chrome adds to box*/ }
  .form-graphic .colom-1 .form-element {
    display: block;
    margin: 3rem 0;
    padding: 5px 3px;
    border: none;
    background-color: #F5F5F5;
    border-bottom: 1px solid #d6d6d6;
    width: 70%; }
  .form-graphic .colom-1 .message {
    height: 2.2rem; }
  .form-graphic .colom-1 .submit-btn {
    border: 1px solid #89285b;
    border-radius: 5rem;
    padding: 7px 3rem;
    align-self: flex-start;
    color: #fff;
    text-decoration: none;
    margin-top: 1rem;
    background-color: #89285b; }

.map-contact {
  margin: 11rem 0 0 0; }
  .map-contact .map-container {
    display: block;
    width: 100%;
    margin-top: 8px; }
    .map-contact .map-container #map {
      width: 100%;
      height: 22rem;
      background-color: grey; }
  .map-contact .map-contact-informations {
    padding-left: 8rem; }
    .map-contact .map-contact-informations .map-contact-header {
      margin: 0 0 2rem 0;
      padding-top: 0; }
    .map-contact .map-contact-informations .tulsa-adress-container {
      margin-bottom: 1.5rem; }
      .map-contact .map-contact-informations .tulsa-adress-container .map-contact-sub-header {
        letter-spacing: 3px; }
      .map-contact .map-contact-informations .tulsa-adress-container .map-contact-para {
        color: #5a5656;
        letter-spacing: 2px;
        font-size: 15px; }
  .map-contact .footer-image {
    padding-top: 1rem; }

.page-header {
  margin-bottom: 3rem;
  padding-bottom: 1.5rem;
  font-size: 4rem;
  font-weight: 500;
  color: #89285b;
  border-bottom: solid 1px #d6d6d6; }

.blog-page-components {
  background-color: 0; }
  .blog-page-components .side-bar {
    float: right;
    padding-left: 3rem;
    margin: 4.2rem 0; }
    .blog-page-components .side-bar .side-bar-header {
      font-size: 1rem;
      font-weight: 600; }
    .blog-page-components .side-bar .recent-post {
      padding: 2rem;
      display: flex;
      flex-direction: column; }
      .blog-page-components .side-bar .recent-post .post-links {
        padding-left: 0; }
        .blog-page-components .side-bar .recent-post .post-links li {
          margin: 1.3rem 0;
          list-style: none;
          text-align: justify; }
          .blog-page-components .side-bar .recent-post .post-links li a {
            letter-spacing: 2px;
            font-size: 0.8rem;
            color: #89285b;
            text-decoration: none; }
          .blog-page-components .side-bar .recent-post .post-links li a:hover,
          .blog-page-components .side-bar .recent-post .post-links li a:active {
            padding-bottom: 3px;
            border-bottom: 1px solid #89285b; }
    .blog-page-components .side-bar .archive {
      padding: 2rem;
      display: flex;
      flex-direction: column; }
      .blog-page-components .side-bar .archive .archive-links {
        padding-left: 0; }
        .blog-page-components .side-bar .archive .archive-links li {
          margin: 1rem 0;
          list-style: none;
          text-align: justify; }
          .blog-page-components .side-bar .archive .archive-links li a {
            letter-spacing: 2px;
            font-size: 0.8rem;
            color: #89285b;
            text-decoration: none; }
          .blog-page-components .side-bar .archive .archive-links li a:hover,
          .blog-page-components .side-bar .archive .archive-links li a:active {
            padding-bottom: 3px;
            border-bottom: 1px solid #89285b; }
  .blog-page-components .all-blogs-container .blog-container {
    margin: 5rem 0;
    padding-bottom: 3rem; }
    .blog-page-components .all-blogs-container .blog-container .main-image-container-box {
      width: 100%;
      height: 20rem;
      background-color: black;
      box-shadow: -1px 4px 39px -27px rgba(0, 0, 0, 0.75);
      overflow: hidden; }
      .blog-page-components .all-blogs-container .blog-container .main-image-container-box .blog-img {
        width: 100%;
        height: 100%;
        opacity: 0.7;
        transform: scale(1.1);
        transition: transform 1s , opacity 1s; }
      .blog-page-components .all-blogs-container .blog-container .main-image-container-box .blog-img:hover,
      .blog-page-components .all-blogs-container .blog-container .main-image-container-box .blog-img:active {
        transform: scale(1);
        opacity: 1; }
    .blog-page-components .all-blogs-container .blog-container .blog-content {
      padding-left: 1rem; }
      .blog-page-components .all-blogs-container .blog-container .blog-content .blog-header {
        font-weight: 600;
        color: #89285b;
        letter-spacing: 2px;
        font-size: 2.5rem;
        margin: 1.3rem 0; }
      .blog-page-components .all-blogs-container .blog-container .blog-content .posted-info {
        font-size: 10px;
        color: #5a5656; }
        .blog-page-components .all-blogs-container .blog-container .blog-content .posted-info .posted-info-1 {
          font-style: italic;
          font-size: 10px; }
        .blog-page-components .all-blogs-container .blog-container .blog-content .posted-info .posted-info-2 {
          font-size: 0.8rem; }
      .blog-page-components .all-blogs-container .blog-container .blog-content .blog-content-para {
        letter-spacing: 2px;
        font-size: 1rem;
        width: 90%;
        text-align: justify; }
      .blog-page-components .all-blogs-container .blog-container .blog-content .continue-btn:link,
      .blog-page-components .all-blogs-container .blog-container .blog-content .continue-btn:visited {
        color: #89285b;
        text-decoration: none;
        transition: all 0.5s; }
      .blog-page-components .all-blogs-container .blog-container .blog-content .continue-btn:hover {
        transform: translateY(-4px); }
      .blog-page-components .all-blogs-container .blog-container .blog-content .continue-btn:active {
        transform: translateY(-1px); }

.indiv-blog-main-img-container {
  margin-top: 3rem;
  height: 24rem;
  box-shadow: 0 16px 65px rgba(0, 0, 0, 0.18); }
  .indiv-blog-main-img-container .indiv-blog-main-img {
    width: 100%;
    height: 100%; }

.indiv-blog-container {
  margin: 4rem 0; }
  .indiv-blog-container .indiv-blog {
    padding: 0rem; }
    .indiv-blog-container .indiv-blog .blog-header {
      font-weight: 600;
      color: #89285b;
      letter-spacing: 2px;
      font-size: 2.5rem;
      margin: 0; }
    .indiv-blog-container .indiv-blog .posted-info {
      font-size: 10px;
      padding-top: 1rem;
      color: #5a5656; }
      .indiv-blog-container .indiv-blog .posted-info .posted-info-1 {
        font-style: italic;
        font-size: 10px; }
      .indiv-blog-container .indiv-blog .posted-info .posted-info-2 {
        font-size: 0.8rem; }
    .indiv-blog-container .indiv-blog .indiv-blog-para {
      font-size: .95rem;
      line-height: 1.7rem;
      word-spacing: 3px;
      letter-spacing: 2px;
      margin: 3rem 0; }
    .indiv-blog-container .indiv-blog .indiv-blog-headings {
      margin: 2.5rem 0 1.5rem 0;
      font-weight: 600;
      letter-spacing: 2px; }
    .indiv-blog-container .indiv-blog .blog-content-list li {
      font-size: .95rem;
      line-height: 1.7rem;
      word-spacing: 3px;
      letter-spacing: 2px;
      margin: 1rem 0;
      font-weight: 400; }

.indiv-blog-comment-section {
  margin: 6rem 0; }
  .indiv-blog-comment-section .comment-header {
    font-weight: 600;
    color: #89285b;
    letter-spacing: 2px;
    font-size: 2.5rem; }
  .indiv-blog-comment-section .comment-note {
    font-size: .9rem;
    word-spacing: 3px;
    letter-spacing: 1px;
    margin: 3rem 0; }
  .indiv-blog-comment-section .comment-form {
    display: flex;
    flex-direction: column;
    padding-bottom: 2.5rem; }
    .indiv-blog-comment-section .comment-form .required {
      color: #5a5656; }
    .indiv-blog-comment-section .comment-form label {
      display: block;
      margin-bottom: 0; }
    .indiv-blog-comment-section .comment-form textarea {
      width: 100%;
      height: 15rem;
      padding: 1rem;
      background-color: #F5F5F5;
      border: 2px solid #d6d6d6; }
    .indiv-blog-comment-section .comment-form input {
      width: 50%;
      padding: 10px;
      background-color: #F5F5F5;
      border: 2px solid #d6d6d6; }
    .indiv-blog-comment-section .comment-form *:focus {
      border: none;
      border: 2px solid #89285b;
      padding: 10px; }
  .indiv-blog-comment-section .post-btn:link,
  .indiv-blog-comment-section .post-btn:visited {
    padding: 1rem 1.5rem;
    font-size: 1rem;
    color: #89285b;
    letter-spacing: 1px;
    word-spacing: 4px;
    text-decoration: none;
    font-weight: 500;
    border: 2px solid #89285b;
    transition: all 0.5s; }
  .indiv-blog-comment-section .post-btn:hover,
  .indiv-blog-comment-section .post-btn:active {
    color: #d6d6d6;
    background-color: #89285b;
    box-shadow: 0px 9px 16px -7px rgba(0, 0, 0, 0.75);
    transform: translateY(-0.3rem); }

.side-bar {
  float: right;
  padding-left: 3rem;
  margin: 4.2rem 0; }
  .side-bar .side-bar-header {
    font-size: 1rem;
    font-weight: 600; }
  .side-bar .recent-post {
    padding: 2rem 0;
    display: flex;
    flex-direction: column; }
    .side-bar .recent-post .post-links {
      padding-left: 0; }
      .side-bar .recent-post .post-links li {
        margin: 1.3rem 0;
        list-style: none;
        text-align: justify; }
        .side-bar .recent-post .post-links li a {
          letter-spacing: 2px;
          font-size: 0.8rem;
          color: #89285b;
          text-decoration: none; }
        .side-bar .recent-post .post-links li a:hover,
        .side-bar .recent-post .post-links li a:active {
          padding-bottom: 3px;
          border-bottom: 1px solid #89285b; }
  .side-bar .archive {
    padding: 2rem 0;
    display: flex;
    flex-direction: column; }
    .side-bar .archive .archive-links {
      padding-left: 0; }
      .side-bar .archive .archive-links li {
        margin: 1rem 0;
        list-style: none;
        text-align: justify; }
        .side-bar .archive .archive-links li a {
          letter-spacing: 2px;
          font-size: 0.8rem;
          color: #89285b;
          text-decoration: none; }
        .side-bar .archive .archive-links li a:hover,
        .side-bar .archive .archive-links li a:active {
          padding-bottom: 3px;
          border-bottom: 1px solid #89285b; }

.p-30 {
  padding: 3rem; }

.p-40 {
  padding: 4rem; }

.main-logo {
  width: 7rem; }

a.nav-link {
  margin: 0 1rem; }

.footer-section {
  background-color: #e7e1e1;
  height: 4rem;
  display: flex;
  align-items: center; }
  .footer-section .footer-container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center; }
    .footer-section .footer-container .footer-links {
      list-style: none;
      display: flex;
      align-items: center;
      margin-top: 1.2rem; }
      .footer-section .footer-container .footer-links li {
        margin: 0 2rem; }
        .footer-section .footer-container .footer-links li a {
          text-decoration: none;
          color: #5a5656; }
    .footer-section .footer-container .copyright {
      margin-top: .5rem;
      font-size: 1rem;
      color: #5a5656; }

html {
  font-size: 16px; }

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #F5F5F5; }
