// Get the variables.
@import "variables/variables";

// Pages section 
@import "pages/home";
@import "pages/about";
@import "pages/project";
@import "pages/contact";
@import "pages/blog";
@import "pages/individual_blog";

// Misc section
@import "misc/custom";
@import "misc/navbar";
@import "misc/footer";

// Responsive Section


html {
    font-size: 16px; // 16px.
}
body {
    font-family: 'Montserrat', sans-serif;
    background-color:$background-color;
}
