$primary-color: rgb(137, 40, 91);
$transparent-primaryColor:rgba(184, 64, 128, 0.598) ;
$white-color: #fff;
$black-color: #000;
$color-grey-primary :rgb(231, 225, 225);
$dark-grey:rgb(90, 86, 86) ;
$light-grey:rgb(214, 214, 214);
$background-color: #F5F5F5;
$dark-brown: #3D1212;