.about-title-header{
    font-size: 2.5rem;
    color: $primary-color;
    font-style: italic;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 3px;
}


/*---- Header ----*/

.section-header{
    background-image: none;
    height: 65vh;

    .header-textbox{
        display:inline-block;
        position: absolute;
        top: 7.6rem;

        .about-us{
            color:$primary-color;
            font-size: 4rem;
            letter-spacing: 4px;
            font-weight: 400;
            text-transform: uppercase;
        }

        .live-blessed{
            color:$primary-color;
            letter-spacing: 2px;
            font-size: 2rem;
            font-weight: 400;
        }
    }

    .header-background{
        margin-top: 8rem;
        background: linear-gradient(rgba(0, 0, 0, 0.075),rgba(0, 0, 0, 0.578)), url("/images/About\ hero.jpg");
        height: 60vh;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center bottom ;
        
        
    }
}

.section-about{
    .tulsa-logo-container{
        display: block;
        text-align: center;

        .tulsa-logo{
            width: 20rem;
        }
    }

    .about-content{
        margin: 3rem 0;

        .about-header{
            font-size: 2.5rem;
            color: $primary-color;
            font-style: italic;
            text-transform: uppercase;
            font-weight: 500;
            letter-spacing: 3px;
        }

        .about-paragraph{
            font-size: 1.5rem;
            color: $primary-color;
            font-weight: 300;
            letter-spacing: 2px;
            margin-top: 3rem;
        }


    }
}

.section-team{
    margin: 6rem 0;

    .our-team-header{
        font-size: 2.5rem;
        color: $primary-color;
        font-style: italic;
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: 3px;
    }

    .team-img-container{
        // display: block;
        // margin-top: 3rem;
        // margin:auto;
        // width: 100%;
        // height: auto;

        .team-img{
            // width:90%;
            // height: 100%;
        }
    }
}

// .section-core-members{
//     .main-member-content{
//         margin-top: 2rem;

//         .main-member-image-container{
//             display: block;
//             width:100%;

//             .main-member-image{
//                 width:100%
//             }
//         }

//         .member-name{
//             font-size: 2rem;
//             color: $primary-color;
//             letter-spacing: 3px;
//             font-weight: 200;
//             text-transform: capitalize;
//         }
//         .main-member-paragraph{
//             font-size: 1.3rem;
//             color: $black-color;
//             font-weight: 300;
//             letter-spacing: 2px;
//             margin-top: 2rem;   
//             font-style: italic;
//         }
    
//     }

//     .footer-image-container{
//         margin-top: 4rem;
//     }

// }


.core-member-section {
    .member-section {
        
        display: grid;
        grid-template-rows: 30rem;
        grid-template-columns: repeat(2, 1fr);

       .image-part{
        background-color: green;
        
        .core-member-img-container{

        }
       }

       .text-part {
        background-color: pink;

        .text-part-container{
            padding-left: 2rem;
        }
       }
    }
}