.page-header{
    margin-bottom: 3rem;
    padding-bottom: 1.5rem;
    font-size: 4rem;
    font-weight: 500;
    color:$primary-color;
    border-bottom: solid 1px $light-grey;
}
.blog-page-components{
    background-color: red($color: #000000);

    .side-bar{
        float: right;
        padding-left: 3rem;
        margin: 4.2rem 0;

        .side-bar-header{
            font-size: 1rem;
            font-weight: 600;
        }

        .recent-post{
            padding: 2rem;
            display: flex;
            flex-direction: column;

            
            .post-links{
                padding-left: 0;
                li{
                    margin: 1.3rem 0 ;
                    
                    list-style: none;
                    text-align: justify;

                    a{
                        letter-spacing: 2px;
                        font-size: 0.8rem;
                        color:$primary-color;
                        text-decoration: none;
                    }
                    a:hover,
                    a:active{
                        padding-bottom: 3px;
                        border-bottom: 1px solid $primary-color;
                    }
                }
            }
        }

        .archive{
            padding: 2rem;
            display: flex;
            flex-direction: column;

            .archive-links{
                padding-left: 0;
                li{
                    margin: 1rem 0 ;
                    
                    list-style: none;
                    text-align: justify;

                    a{
                        letter-spacing: 2px;
                        font-size: 0.8rem;
                        color:$primary-color;
                        text-decoration: none;
                    }
                    a:hover,
                    a:active{
                        padding-bottom: 3px;
                        border-bottom: 1px solid $primary-color;
                    }
                }
            }
        }
    }

    .all-blogs-container{
        

        .blog-container{
            margin: 5rem 0;
            padding-bottom: 3rem ;
            
            

            .main-image-container-box{
                width: 100%;
                height: 20rem;background-color: black;
                box-shadow: -1px 4px 39px -27px rgba(0,0,0,0.75);
                overflow: hidden;

                .blog-img{
                    width: 100%;
                    height: 100%;
                    opacity: 0.7;
                    transform: scale(1.1);
                    transition: transform 1s , opacity 1s ;
                    
                }
                .blog-img:hover,
                .blog-img:active {
                    transform: scale(1);
                    opacity: 1;
                }
            }
            .blog-content{
                padding-left: 1rem;

                .blog-header{
                    font-weight: 600;
                    color:$primary-color;
                    letter-spacing: 2px;
                    font-size: 2.5rem;
                    margin: 1.3rem 0;
                    
                }
                .posted-info{
                    font-size: 10px;
                    color: $dark-grey;
                        .posted-info-1{
                            font-style: italic;
                            font-size:10px;
                    }
                    .posted-info-2{
                        font-size: 0.8rem;
                    }
                }
                .blog-content-para{
                    letter-spacing: 2px;
                    font-size: 1rem;
                    width: 90%;
                    text-align: justify;
                }
                .continue-btn:link,
                .continue-btn:visited{
                    color: $primary-color;
                    text-decoration: none;
                    transition: all 0.5s;
                }
                .continue-btn:hover{
                    transform: translateY(-4px);

                }
                .continue-btn:active{
                    transform: translateY(-1px);
                }

            }
            
        }
        
    }
}

// /*---- animations ----*/
// @keyframes()