.header-blog{
    padding: 5px;
    background-image: none;

    .blog-header-container{
        display: flex;
        height: 70vh;

        .first-slide{
            background:linear-gradient(rgba(0, 0, 0, 0.095),rgba(0, 0, 0, 0.081)), url("/images/blog\ header\ 1.jpg");
            width:40%;
            margin-right:5px;
            background-size: cover;

            .header-text-box-1{
                width: 20%;
                background-color:rgba(218, 204, 204, 0.592);
                position: absolute;
                top: 17rem;
                left: 2rem;

                .blog-header{
                    color: $primary-color;
                    font-style: italic;

                }
                .blog-para{
                    color: $dark-grey;

                }
            }

            
        }
        .second-slide{
            background:linear-gradient(rgba(0, 0, 0, 0.095),rgba(0, 0, 0, 0.081)), url("/images/blog\ header\ 2.jpg");
            width:60%;
            background-size: cover;
            margin-left: 5px;
            display: flex;
            

            .header-text-box-2{
                width: 30%;
                height: 12rem;
                background-color:rgba(218, 204, 204, 0.592);
                top: 17rem;
                left: 2rem;
                position: absolute;
                transform: translate(200%, 110%);

                .blog-header{
                    color: $primary-color;
                    font-style: italic;

                }
                .blog-para{
                    color: $dark-grey;

                }
            }
        }
    }
}

.section-all-blogs{
    padding-top: 5rem;

    .footer-image{
        padding-top: 3rem;
    }
}



