.indiv-blog-main-img-container{
    margin-top: 3rem;
    height: 24rem;
    box-shadow:0 16px 65px rgba(0,0,0,.18);;
    
    .indiv-blog-main-img{
        width: 100%;
        height: 100%;
    }
}

.indiv-blog-container{
    margin: 4rem 0;

    .indiv-blog{
        padding: 0rem;

        .blog-header{
            font-weight: 600;
            color:$primary-color;
            letter-spacing: 2px;
            font-size: 2.5rem;
            margin:0;
            
        }
        .posted-info{
            font-size: 10px;
            padding-top: 1rem;
            color: $dark-grey;
                .posted-info-1{
                    font-style: italic;
                    font-size:10px;
            }
            .posted-info-2{
                font-size: 0.8rem;
            }
        }
        .indiv-blog-para{
            font-size: .95rem;
            line-height: 1.7rem;
            word-spacing: 3px;
            letter-spacing: 2px;
            margin: 3rem 0 ;
        }
        .indiv-blog-headings{
            margin: 2.5rem 0 1.5rem 0;
            font-weight: 600;
            letter-spacing: 2px;
        }
        .blog-content-list{

            li{
                font-size: .95rem;
                line-height: 1.7rem;
                word-spacing: 3px;
                letter-spacing: 2px;
                margin: 1rem 0 ;
                font-weight: 400;
            }
        }
    }

}

.indiv-blog-comment-section{
    margin: 6rem 0;

    .comment-header{
        font-weight: 600;
        color:$primary-color;
        letter-spacing: 2px;
        font-size: 2.5rem;
    }
    .comment-note{
        font-size: .9rem;
        word-spacing: 3px;
        letter-spacing: 1px;
        margin: 3rem 0 ;
    }
    .comment-form{
        display: flex;
        flex-direction: column;
        padding-bottom: 2.5rem;

        .required{
            color: $dark-grey;
        }
        label{
            display: block;
            margin-bottom: 0;
        }
        textarea{
            width: 100%;
            height: 15rem;
            padding: 1rem;
            background-color: $background-color;
            border:2px solid $light-grey;
        }

        input{
            width: 50%;
            padding: 10px;
            background-color: $background-color;
            border:2px solid $light-grey;
        }

        *:focus{
            border: none;
            border:2px solid $primary-color;
            padding: 10px;
        } 
    }
    .post-btn:link,
    .post-btn:visited{
        padding: 1rem 1.5rem;
        font-size: 1rem;
        color: $primary-color;
        letter-spacing: 1px;
        word-spacing: 4px;
        text-decoration: none;
        font-weight: 500;
        border: 2px solid $primary-color;
        transition: all 0.5s;
    }
    .post-btn:hover,
    .post-btn:active{
        color: $light-grey;
        background-color: $primary-color;
        box-shadow: 0px 9px 16px -7px rgba(0,0,0,0.75);
        transform: translateY(-.3rem);
        

    }
}

.side-bar{
    float: right;
    padding-left: 3rem;
    margin: 4.2rem 0;

    .side-bar-header{
        font-size: 1rem;
        font-weight: 600;
    }

    .recent-post{
        padding: 2rem 0;
        display: flex;
        flex-direction: column;

        
        .post-links{
            padding-left: 0;
            li{
                margin: 1.3rem 0 ;
                
                list-style: none;
                text-align: justify;

                a{
                    letter-spacing: 2px;
                    font-size: 0.8rem;
                    color:$primary-color;
                    text-decoration: none;
                }
                a:hover,
                a:active{
                    padding-bottom: 3px;
                    border-bottom: 1px solid $primary-color;
                }
            }
        }
    }

    .archive{
        padding: 2rem 0;
        display: flex;
        flex-direction: column;

        .archive-links{
            padding-left: 0;
            li{
                margin: 1rem 0 ;
                
                list-style: none;
                text-align: justify;

                a{
                    letter-spacing: 2px;
                    font-size: 0.8rem;
                    color:$primary-color;
                    text-decoration: none;
                }
                a:hover,
                a:active{
                    padding-bottom: 3px;
                    border-bottom: 1px solid $primary-color;
                }
            }
        }
    }
}

.indiv-blog-container{
   
}


