.project-title-header{
    font-size: 2.5rem;
    color: $primary-color;
    font-style: italic;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 3px;
    text-align: center;
    margin: 1rem 0;
}

.project-header{
    background-image: none;
    // padding-bottom: 
    .header-textbox-1{
        display:inline-block;
        position: absolute;
        top: 7.6rem;
        padding-left: 1rem;
        background-color:#F5F5F5 ;

        .tulsa{
            color:$primary-color;
            font-size: 4rem;
            letter-spacing: 4px;
            font-weight: 400;
            text-transform: uppercase;
        }

        .live-blessed{
            color:$primary-color;
            letter-spacing: 2px;
            font-size: 2rem;
            font-weight: 400;
        }
    }
    .header-background{
        margin-top: 8rem;
        width: 80%;
        float: right;
        background: linear-gradient(rgba(0, 0, 0, 0.592),rgba(0, 0, 0, 0.578)), url("/images/slide\ 2.jpg");
        height: 70vh;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center top ; 
        display: flex;
        align-items: center;

        .explore-projects{
            position: absolute;
            color: $light-grey;
            left: 50%;
            transform: translate(-30% ,-50%);
            font-size: 4rem;
            letter-spacing: 3px;
            font-weight: 100;
            text-transform: capitalize;
            font-style: italic;
            border-top: 1px solid $dark-grey;
            border-bottom: 1px solid $dark-grey;

        }
    }
}

.section-projects{
    padding: 5rem 0;
    background-color: $white-color;

    .project-row-box{
        margin: 3rem 0;
    }

    .project-box{
        background-color: $white-color;
        margin: 0 1rem;
        padding: 5px;
        box-shadow: -1px 2px 5px 0px rgba(0,0,0,0.08);

        .project-img-container{
            display: block;
            width: 100%;

            .project-img{
                width: 100%;
            }
        }
        .project-content{
            padding: 1rem;

            .project-name-price{
                display: flex;
                padding: 1rem 0 ;

                .project-name-header{
                    width: 70%;
                    color: $primary-color;
                    font-size: 1.4rem;
                    font-weight: 300;
                }

                .project-price-header{
                    width: 30%;
                    float: right;
                    color: green;
                    //font-style: italic;
                    font-size:1.2rem;
                    font-weight: 300;
                }
            }

            .project-type{
                color: $dark-grey;
                padding: 5px 0 ;
                border-bottom: 1px solid $light-grey;

                .project-type-box{
                    display: flex;
                    

                    .project-bhk-header{
                        width: 70%;
                        font-size:1rem;
                        font-weight: 300;
                    }

                    .project-onwards-header{
                        width: 30%;
                        float: right;
                        font-size:1rem;
                        font-weight: 300;
                    }

                }

                .project-status{
                    padding: 1rem 0;

                    .project-status-header{
                        font-size:1rem;
                        font-weight: 300;
                        
                    }
                }
            }
            .project-location{
                padding-top: 1.2rem;
                .location-icon {
                    width: 2rem;
                    
                }
            }

        }

        
    }
}