.footer-section{
    background-color:$color-grey-primary;
    height: 4rem;
    display:flex;
    align-items: center;
    
    // .footer-wrapper {
    //     display: flex;
    //     justify-content: center;
    // }
    .footer-container{

        display: flex;
        justify-content: space-between;
        height: 100%;
        align-items: center;

        .footer-links {
            list-style: none;
            display: flex;
            align-items: center;
            margin-top: 1.2rem;

            li {
                margin: 0 2rem;

                a {
                    text-decoration: none;
                    color: $dark-grey;
                }
            }
        }

        .copyright {
            margin-top: .5rem;
            font-size: 1rem;
            color: $dark-grey;
        }
        // .foot-links {
        //     list-style: none ; 
        //     margin-top: 30px;
        // }
        // .foot-links li {
        //     display: inline-block ; /* arrange all block in line horizontally*/
        //     margin-left: 40px ;
        // }
        
        // .foot-links li a{
        //     color: $dark-grey;
        //     text-decoration: none ;
        //     font-size: 1.2rem; 
        //     letter-spacing: 2px;
        //     font-weight: 400;
            
        // }
        // .copyright-container{
        //     display: flex;
        //     width: 50% ;
        //     padding-left: 11rem;
        //     margin-top: 30px;

        //     .copyright{
        //         font-size: 1.3rem;
        //         font-weight: 400;
        //         color: $dark-grey;
        //         letter-spacing: 2px;

        //     }
        // }
         
    }

}
