/* Media Queries*/
@media(max-width: 1800px){

}

@media(max-width: 1500px){
    html{
        font-size: 50%;
    }
}

@media(max-width: 1200px){
    
}

@media(max-width: 900px){
    

}

@media(max-width: 600px){
   
}

@media(max-width: 400px){
   
}